<nav class="position-sticky sticky-top">
  <div class="container-fluid bg-secondary">
    <div class="row d-flex">
      <a class="col-sm-2" href="#"><img src="../../../assets/images/logoyfavicon/LogoMusinamicMedium.png" alt="logo"></a>
      <div class="btn-group col-sm-7 mr-1">
        <a class="btn btn-primary text-secondary font-weight-bold align-self-center p-3" href="https://www.google.es">
          Home
        </a>
        <a class="btn btn-primary text-secondary font-weight-bold align-self-center p-3" href="https://www.google.es">
          Subgenres
        </a>
        <a class="btn btn-primary text-secondary font-weight-bold align-self-center p-3" href="https://www.google.es">
          Find your song
        </a>
        <a class="btn btn-primary text-secondary font-weight-bold align-self-center p-3" href="https://www.google.es">
          Blog
        </a>
        <a class="btn btn-primary text-secondary font-weight-bold align-self-center p-3" href="https://www.google.es">
          Shop
        </a>
        <a class="btn btn-primary text-secondary font-weight-bold align-self-center p-3" href="https://www.google.es">
          Contact
        </a>
      </div>
      <div class="col-sm-1"></div>
      <div class="btn-group col-sm-1">
        <a class="btn btn-outline-primary text-fourth align-self-center p-3" href="https://www.google.es">
          <b>Login</b>
        </a>
        <a class="btn btn-outline-primary text-fourth align-self-center p-3" href="https://www.google.es">
          <b>Register</b>
        </a>
      </div>
    </div>  
  </div>
  <div class="container-fluid bg-third" style="padding: 1px;"></div>
</nav>